@font-face {
    font-family: font_forte;
    src: url("../fonts/FORTE.TTF");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: font_sukhumvit;
    src: url("../fonts/SukhumvitSet-Thin.ttf");
    font-weight: normal;
    font-style: normal;
  }
  body {
    padding: 10%;
  }
  .container {
    position: relative;
    color: white;
  }
  img {
    width: 100%;
  }
  a{
      color: white;
  }
  .txt {
    position: absolute;
    top: 5%;
    left: 20%;
    right: 7%;
  }
  .title {
    font-family: font_forte;
    font-size: 6vw;
    margin: 0;
    padding: 0;
  }
  .sub-title {
    font-family: font_sukhumvit;
    font-size: 3.3vw;
  }
  .description {
    font-family: font_sukhumvit;
    font-size: 1.8vw;
  }
  .text-concat {
    content: "...";
    position: absolute;
    right: -12px;
    bottom: 4px;
  }
  .text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 100%;
    line-height: 1.2em;
    text-align: justify;
  }